body {
    font-family: sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-gap: 2px;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    text-align: center;
    line-height: 30px;
    background-color: #f0f0f0;
}

.tile {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ffc;
    border: 1px solid #888;
    cursor: grab;
    position: relative;
}

#rack {
    margin-top: 20px;
}

#scoreboard {
    margin-bottom: 10px;
}

.tilePoints{
    position: absolute;
    top: 0;
    right: -3px;
    padding: 4px 4px;
    font-size: 8px;
}